# Core scientific packages
pandas
numpy
scikit-learn
Pillow

# Torch stack
torch>=2.2.0,<3.0.0
pytorch-lightning==2.0.7

# HuggingFace + NLP
transformers
datasets
evaluate
peft
nltk==3.8.1
rouge==1.0.1
rouge-score==0.1.2
flair==0.13.1

# TensorFlow stack
tensorflow==2.16.2
keras==3.4.1

# Visualization and Web
streamlit
pyvis
seaborn
BeautifulSoup4==4.12.3
requests==2.32.3

# Misc
efficientnet_pytorch==0.7.1
distro==1.9.0
python-decouple==3.8

# Causal packages
causal-learn
cdt

# External Git dependency
git+https://github.com/tomsons22/trustworthyAI.git@c2e3535eba28cabf8e1309f55bffc3e4d4d78c00#subdirectory=gcastle
